<!DOCTYPE html>
<html>
  <head>
    <title>OkgarcesURLShort</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
